<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:property-placeholder location="classpath:activemq.properties" order="9"  ignore-unresolvable="true" local-override="true" />

    <context:component-scan base-package="com.mimosa.mq.active"/>

    <bean id="connectionFactoryJMS" class="org.apache.activemq.spring.ActiveMQConnectionFactory"
          p:brokerURL="${activemq.brokerURL}"
          p:userName="${activemq.user}"
          p:password="${activemq.password}"/>

    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue" name="queue"/>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic" name="topic"/>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate" p:connectionFactory-ref="connectionFactoryJMS"/>


</beans>